/build/
/HelloJavaEE3/out
/HelloJavaEE3/out/artifacts/hello_archive/hello archive.war
/SprintTest/out/production/SprintTest/com/tutorialspoint/*.class
/SprintTest/out/artifacts
/SprintTest/out/production/SprintTest/com/xml/cn/*.class
*.class
/HelloWeb/out
/HelloJavaEE3/.idea/workspace.xml
/HelloJavaEE4/out
