.showui {
    font-size: 20px;
    background-color: #c8eccc;
}

.submitbtn{
    height: 40px;
    width: 90%;
    text-align: left;
    font-family: "Courier New";
    font-size: large;
    font-palette: normal;
    color:red;

    background-color: #c6ecd3;

    /*border: whitesmoke;*/
    /*border-color: black;*/

    font-style: normal;
    border-width: thin;
    /*border-color: darkviolet;*/
    /*background-color: #c6ecd3;*/
}


.form{
    margin: 5px;
    /*background-color: cyan;*/
    font-size: large;
    /*font-family: -moz-fixed;*/

}

.mytable th, tr, td, table {
   /* for IE */
   text-overflow: ellipsis;
   /* for Firefox,mozilla */
   -moz-text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
   text-align: left;

   border: 1px solid red;
   tab-interval: 10px;
   background-color: aliceblue;
   font-size: medium;
}

.clsSubmitBtn {
    height: 30px;
    width: 80px;
}

.dia_wabbit {
    width: 100%;
    height: 80%;
    alignment: center;
    align-content: center;
}

.text{
    width: 100%;
    height: 30px;
}
.textarea {
    display: block;
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
    height: 200%;
    line-height: 24px;
    padding: 2px;

    min-height: 20px;
    max-height: 1000px;
    font-size: 16px;
    outline: 0;
    border: 1px solid #a0b3d6;
    line-height: 24px;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: auto;
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
    background-color: #c8eccc;
}
