.showui {
    font-size: 20px;
    background-color: #c8eccc;
}

.submitbtn{
    height: 20px;
    width: 90%;
    text-align: left;
    font-family: "Courier New";
    font-size: small;

    background-color: cyan;
    /*border: whitesmoke;*/
    /*border-color: black;*/

    font-style: oblique;
    border-width: thin;
    /*border-color: darkviolet;*/
    /*background-color: #c6ecd3;*/
}


.form{
    margin: 5px;
    background-color: coral;

}

.mytable th, tr, td, table {
   /* for IE */
   text-overflow: ellipsis;
   /* for Firefox,mozilla */
   -moz-text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
   text-align: left;

   border: 1px solid red;
   tab-interval: 10px;
   background-color: aliceblue;
   font-size: medium;
}

.clsSubmitBtn {
    height: 30px;
    width: 80px;
}

.dia_wabbit {
    width: 100%;
    height: 80%;
    alignment: center;
    align-content: center;
}

