.submitbtn2 {
    height: 25px;
    width: 30%;
    text-align: left;
    font-family: "Courier New";
    font-size: large;
    background-color: yellow;
    /*border: whitesmoke;*/
    /*border-color: black;*/

    /*font-style: oblique;*/
    /*border-width: thin;*/
    /*border-color: darkviolet;*/
    /*background-color: silver;*/
}