.submitbtn{
    height: 20px;
    width: 30%;
    text-align: left;
    font-family: "Courier New";
    font-size: small;
    background-color: cyan;
    /*border: whitesmoke;*/
    /*border-color: black;*/

    /*font-style: oblique;*/
    /*border-width: thin;*/
    /*border-color: darkviolet;*/
    /*background-color: silver;*/
}